# Ignored files in bdwgc Git repo.

# Binary files (in root dir, cord, tests):
*.dll
*.exe
*.gcda
*.gch
*.gcno
*.la
*.lib
*.lo
*.o
*.obj

/bdwgc/

# Code analysis tools:
*.c.gcov
*.cc.gcov
*.h.gcov
*.sancov
/.sv*-dir
/cov-int
/coverage.info
/pvs-project.log
/pvs-project.tasks
/strace_out

cscope.out
cscope.files
config.cache
config.log
config.status
